{% extends 'layout.html' %}

{% block title %} Register {% endblock %}
{% block content %}

<section class="blog" id="blog">
    <div class="container">

        <p class="section-subtitle">News & Blogs</p>

        <h2 class="h2 section-title">Latest News Feeds</h2>

        <ul class="blog-list has-scrollbar">

            {% for blog in blogs %}
            <li>
                <div class="blog-card" style="height: 550px;background: white;">

                    <figure class="card-banner">
                        <img src="{{ blog['Image Cover'] }}" alt="The Most Inspiring Interior Design Of 2021"
                            class="w-100">
                    </figure>

                    <div class="blog-content">

                        <div class="blog-content-top">

                            <ul class="card-meta-list">

                                <li>
                                    <a href="#" class="card-meta-link">
                                        <ion-icon name="person"></ion-icon>

                                        <span>by: {{ blog['Author'] }}</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="card-meta-link">
                                        <ion-icon name="pricetags"></ion-icon>

                                        <span>Estate</span>
                                    </a>
                                </li>

                            </ul>

                            <h3 class="h3 blog-title">
                                <a href="#">{{ blog['Title'] }}</a>
                            </h3>

                        </div>

                        <div class="blog-content-bottom">
                            <div class="publish-date">
                                <ion-icon name="calendar"></ion-icon>

                                <time datetime="{{ blog['Date'] }}">{{ blog['Date'] }}</time>
                            </div>

                            <a href="{{ blog['Link'] }}" class="navbar-link">Read More</a>
                        </div>

                    </div>

                </div>
            </li>
            {% endfor %}

        </ul>

    </div>
</section>




{% endblock %}