{% extends 'layout.html' %}

{% block title %} Register {% endblock %}
{% block content %}

<section class="post-details auth h-100 needs-validation" >
    <form action="{{ url_for('register') }}" method="Post" autocomplete="off">
        {{ form.hidden_tag() }}
        <fieldset class="form-group-set" autocomplete="off">
            <legend>Register</legend>
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group d-flex justify-content-center">
                <button id="sign-up" type="submit" class="btn btn-primary">{{ form.submit.label }}
                </button>
            </div>
        </fieldset>
         
    </form>
</section>

<script src="/static/forms.js"></script>
{% endblock %}